@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --container-box : rgba(24, 26, 28, 0.84);
    --page-background: rgba(24, 26, 28, 1);
    --paper-background : rgba(34, 40, 42, 1);
    --body-background: rgba(47, 51, 52, 1);
    --extra-background: rgba(61, 65, 66, 1);

    --primary-text: rgba(255, 255, 255, 1);
    --secondary-text: rgba(193, 194, 196, 1);
    --disable-text: rgba(157, 158, 161, 1);

    --outline-border: rgba(231, 227, 252, 0.23);

    --primary-default: rgba(50, 84, 255, 1);
    --primary-100: rgba(36, 63, 219, 1);
    --primary-200: rgba(25, 45, 183, 1);
    --primary-300: rgba(15, 30, 147, 1);
    --primary-400: rgba(9, 20, 122, 1);

    --error-pressed: rgba(183, 31, 29, 1);
}